// Adaptivity
$iphonex-width: 375px;
$iphonex-height: 812px;

// Colors
$clr-primary-app: #F6FDFF;
$clr-primary-app-bg: rgba($clr-primary-app, 0.1);

$clr-secondary-app: #CFCFCF;

$clr-todo: #34C6E7;
$clr-todo-transparent: rgba(#34C6E7, 0.5);
$clr-todo-dark: #10222B;

$clr-timer: #E81616;
$clr-timer-dark: #2B1010;

$clr-notes: #FFAC60;
$clr-notes-dark: #2B2010;

// Fonts
$font-size-x-large: 20px;
$font-size-large: 16px;
$font-size-base: 14px;
$font-size-small: 10px;